.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.addbut {
    align-items: right;
}
.formnav {
    display: flex !important;
    justify-content: space-evenly !important;
}
.modal-header {
    padding: 5px 0px 5px 15px;
}
.flexAlignCenterJustifySpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: -moz-flex; /* Mozilla */
    -moz-justify-content: space-between;
    -moz-align-items: center;
}
.content-body {
    width: 100%;
    height: 100%;
    padding: 20px;
    /* display:flex; */
    flex: 1;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap;
    display: -moz-flex; /* Mozilla */
    -moz-flex-wrap: wrap;
}
.questionsFormat {
    display: flex;
    width: 100%;
}
.page-content {
    height: 90%;
    padding: 10px;
    box-sizing: border-box;
}
.spanDiv {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 62%;
    margin-top: 1%;
}
.answerDisplay {
    display: flex;
    justify-content: space-between;
    width: 38%;
}
.answerDisplay.radio {
    width: 30%;
}
.full-height-width {
    height: 100%;
    width: 100%;
}
.input-container-full-width {
    width: 100%;
}
.rainySeason {
    flex-direction: column;
}

.rainySeasonRadio {
    flex-direction: row;
    width: 100% !important;
}

.rainySeasonValue {
    align-items: center;
    justify-content: right;
}

.rainySeasonLabel {
    width: 48%;
}

.flexJustifyCenter {
    display: flex;
    justify-content: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center;
    display: -moz-flex; /* Mozilla */
    -moz-justify-content: center;
}
@import url("form.css");

.ca-site-contact-details {
    display: flex;
    justify-content: space-between;
    padding-right: 14%;
    
}
.para{
  margin-top: auto;
  font-size: 13px;
}
.width-50 {
    width: 50%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
    .page-content {
        height: 83%;
    }
}
@media only screen and (max-width: 960px) {
    .content-body {
        width: 100%;
    }
}
@media only screen and (max-width: 1025px) {
}
@media only screen and (max-width: 1025px) and (orientation: landscape) {
}
@media only screen and (max-width: 961px) and (orientation: landscape) {
}
@media only screen and (max-width: 640px) {
    .content-body {
        padding: 5px;
    }

    .page-content {
        height: 85%;
    }
}
@media only screen and (max-width: 400px) {
    .page-content {
        height: 85%;
    }
}
@font-face {
    font-family: "Poppins-Light";
    font-style: normal;
    font-weight: 500;
    src: url("Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    src: url("Poppins-Regular.ttf");
}
html,
body,
#root {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: Poppins-Regular !important;
}
.flexAlignCenterJustifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -moz-flex; /* Mozilla */
    -moz-justify-content: center;
    -moz-align-items: center;
}
.flexAlignCenter {
    display: flex;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center;
    display: -moz-flex; /* Mozilla */
    -moz-align-items: center;
}
.testimonyFiles {
    margin-bottom: 10%;
}
.MuiDialog-paperWidthMd {
    max-width: 991px !important;
}
.span {
    height: 10%;
}
